---
import BarTab from "../components/BarTab.astro";
import Contacto from "../components/Contacto.astro";
import ContentTab from "../components/ContentTab.astro";
import NavTab from "../components/NavTab.astro";

const inmobiliaria = [
    {
        title: "Casas",
        id: "Casas",
        description: "Estas son las propiedades a su disposicion:",
        items: [
            {
                title: "SIERRA BELLA 1334 - SANTIAGO",
                id: "01",
                description:
                    "Casa en sector Sierra Bella, construcción antigua, terreno de 173 m2 aproximadamente. A 8 minutos caminando del metro Matta.",
                comuna: " SANTIAGO",
                direccion: "SIERRA BELLA 1334",
                mts2: "173",
                dormitorios: "3",
                estacionamiento: "0",
                banos: "1",
                img: "./img/casa.jpg",
                imgs: ["./img/casa.jpg", "./img/casa.jpg"],
            },
            {
                title: "SIERRA BELLA 1334 - SANTIAGO2",
                id: "02",
                description: "Casa en sector Sierra Bella.",
                comuna: " SANTIAGO",
                direccion: "SIERRA BELLA 1334",
                mts2: "173",
                dormitorios: "3",
                estacionamiento: "0",
                banos: "1",
                img: "./img/casa.jpg",
                imgs: ["./img/sociedades.jpg", "./img/casa.jpg"],
            },
        ],
    },
    {
        title: "Departamentos",
        id: "Departamentos",
        description: "Estas son las propiedades a su disposicion:",
        items: [
            {
                title: "Prueba sin imagen",
                id: "03",
                description:
                    "Casa en sector Sierra Bella, construcción antigua, terreno de 173 m2 aproximadamente. A 8 minutos caminando del metro Matta.",
                comuna: " SANTIAGO",
                direccion: "SIERRA BELLA 1334",
                mts2: "173",
                dormitorios: "3",
                estacionamiento: "0",
                banos: "1",
                img: "./img/nodisponible.png",
                imgs: ["./img/nodisponible.png"],
            },
        ],
    },
    {
        title: "Locales Comerciales",
        id: "LocalesComerciales",
        description: "No existen propiedades para esta categoria.",
        items: [],
    },
    {
        title: "Oficinas",
        id: "Oficinas",
        description: "No existen propiedades para esta categoria.",
        items: [],
    },
    {
        title: "Otros",
        id: "Otros",
        description: "No existen propiedades para esta categoria.",
        items: [],
    },
    {
        title: "Terrenos Agrícolas",
        id: "Terrenosagricolas",
        description: "No existen propiedades para esta categoria.",
        items: [],
    },
];
console.log(inmobiliaria[0].items[0].id);
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="./icon.svg" type="image/svg+xml">
        <meta charset="UTF-8" />
        <meta name="description" content="Abogados, Árbitros y Jueces Partidores." />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Montserrat:wght@500;600;700&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="keywords"
            content="PORTAFOLIO INMOBILIARIO,Casas,Departamentos,Locales Comerciales,Oficinas,Terrenos Agricolas, propiedades, venta de propiedades, arriendo de propiedades, oficinas, arriendo de oficinas, ariendo de casa,compra de terrenos "
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <title>APR Grupo Abogados</title>
        <link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet" />
    </head>
    <body>
        <div class="encabezado grid w-full items-center realative">
            <div class="col-start-1 row-start-1 h-screen hidden"></div>
            <div class="col-start-1 row-start-1 flex flex-1 w-full h-full flex-col">
                <div class="h-[27px] md:h-[57px]"></div>
                <div class="px-5 flex flex-1 w-full items-center">
                    <div class="w-full md:w-11/12 max-w-[1280px] m-auto flex-col flex">
                        <header class="w-full text-black text-center md:text-left">
                            <p
                                class="md:pt-0 manrope text-center md:text-left text-xl sm:text-sm font-light italic text-[#CD5F3A] md:text-black-2"
                            >
                                APR Abogados
                            </p>
                            <h1
                                class="mt-5 montserrat text-3xl font-semibold !leading-[-1rem] !md:leading-tight tracking-tight sm:text-4xl"
                            >
                                PORTAFOLIO INMOBILIARIO
                            </h1>
                        </header>
                        <!-- content -->
                        <main>
                            <section class="pt-10">
                                <BarTab>
                                    {inmobiliaria.map((cat) => <NavTab title={cat.title} id={cat.id} />)}
                                </BarTab>

                                <div class="tab-content">
                                    {
                                        inmobiliaria.map((cat) => (
                                            <ContentTab
                                                title={cat.title}
                                                id={cat.id}
                                                description={cat.description}
                                                items={cat.items}
                                            />
                                        ))
                                    }
                                </div>
                            </section>
                        </main>
                        <!-- content -->
                    </div>
                </div>
                <div class="h-[8px]"></div>
            </div>
        </div>
        <Contacto />
    </body>
</html>

<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
            Courier New, monospace;
    }
    .manrope {
        font-family: Manrope, sans-serif;
    }
    .montserrat {
        font-family: "Montserrat", sans-serif;
    }
    .modal-trigger {
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    .modal {
        transition: 1s;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */ /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    }
    .zindex {
        z-index: 999;
    }
    ::-webkit-scrollbar {
        width: 15px;
    }

    /* Track */

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.392);
    }

    /* section */
    li.active a,
    a:focus,
    a:hover {
        background-color: #25a59d;
        color: #fff;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 5px, 0.9);
        font-weight: 500;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .tab-pane {
        display: none;
    }
    .tab-pane.active {
        display: block;
    }
    .h-90 {
        height: 90vh;
    }
    .splide__pagination__page {
        border: 1px solid white !important;
        opacity: 1 !important;
    }
    .splide__arrow {
        background-color: white !important;
    }
</style>

<script is:inline>
var myTabs = document.querySelectorAll("ul.nav-tabs > li");
var myContentPanes = document.querySelectorAll(".tab-pane");
function aplicar(id) {
    const push = "#" + id;
    history.pushState({}, "", push);
    myTabs.forEach((tab) => {
        if (tab.classList.contains(id)) {
            tab.classList.add("active");
        } else {
            tab.classList.remove("active");
        }
    });
    myContentPanes.forEach((tab) => {
        if (tab.id === id) {
            tab.classList.add("active");
        } else {
            tab.classList.remove("active");
        }
    });
}
function init() {
    var URLhash = window.location.hash;
    const newURLhash = URLhash.slice(1);
    myTabs.forEach((tab) => {
        if (tab.classList.contains(newURLhash)) {
            tab.classList.add("active");
        } else {
            tab.classList.remove("active");
        }
    });
    myContentPanes.forEach((tab) => {
        if (tab.id === newURLhash) {
            tab.classList.add("active");
        } else {
            tab.classList.remove("active");
        }
    });
}
init();

function modal(el_id) {
    document.getElementById(el_id).classList.toggle("modal-trigger");
    document.body.classList.toggle("overflow-hidden");
}
</script>
<script is:inline src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<script is:inline>
var elms = document.getElementsByClassName("splide");

for (var i = 0; i < elms.length; i++) {
    new Splide(elms[i]).mount();
}
</script>
