---
import ServiceItem from "./ServiceItem.astro";
import ServiceItem2 from "./PublicacionesItem.astro";
import PublicacionesItem from "./PublicacionesItem.astro";
import Section from "../layouts/Section.astro";
import Modal2 from "./Modal2.astro";
const publicaciones = [
    {
        title: "Quiebra tus deudas.",
        description:
            "El tema de las deudas y la búsqueda de soluciones legales para aliviar su carga es de gran importancia tanto para personas naturales como para empresas en Chile. ",
        img: "./blog-1.webp",
        id: "modal7",
        descent: [
            "Mediante la Nueva Ley se permite suspender y eliminar las deudas. :",
            'El tema de las deudas y la búsqueda de soluciones legales para aliviar su carga es de gran importancia tanto para personas naturales como para empresas en Chile. En ocasiones, se generan expectativas en torno a una "Nueva Ley" que permita la suspensión y eliminación de las deudas de manera generalizada. En este artículo, analizaremos la legislación actual y evaluaremos si existe la posibilidad de suspender y eliminar las deudas bajo la Nueva Ley de Quiebras.',
            "1) Marco legal de quiebras en Chile: La legislación chilena en materia de quiebras está regulada por la Ley N° 20.720, conocida como Ley de Reorganización y Liquidación de Empresas y Personas. Esta ley tiene como objetivo principal establecer un marco legal para enfrentar situaciones de insolvencia y reestructurar o liquidar las deudas de manera equitativa y ordenada.",
            "2) Procedimientos de quiebra y mecanismos de alivio de deudas: Dentro de la Ley de Reorganización y Liquidación de Empresas y Personas, se contemplan procedimientos específicos para personas naturales y empresas que buscan un alivio de sus deudas. Estos procedimientos incluyen la reorganización, la liquidación y la suspensión provisional de pagos.",
            "Sin embargo, es importante destacar que estos mecanismos de alivio de deudas no implican una suspensión o eliminación total y automática de todas las obligaciones financieras. La ley busca un equilibrio entre los derechos de los deudores y los acreedores, y busca encontrar una solución justa y equitativa.\n\n3) Requisitos y limitaciones de los procedimientos de quiebra: Para acceder a los beneficios de los procedimientos de quiebra en Chile, es necesario cumplir con ciertos requisitos establecidos por la ley. Estos requisitos incluyen demostrar una situación de insolvencia, tener una trayectoria de buena fe y no haber sido condenado por delitos financieros, entre otros. Además, existen restricciones en cuanto a las deudas que pueden ser suspendidas o eliminadas. Algunas obligaciones, como las deudas alimenticias o las deudas garantizadas por bienes específicos, no son susceptibles de suspensión o eliminación bajo los procedimientos de quiebra",
            "En conclusión, la Nueva Ley de Quiebras en Chile, representada por la Ley N° 20.720, establece un marco legal para enfrentar situaciones de insolvencia y reestructurar o liquidar las deudas de manera equitativa. Sin embargo, no permite una suspensión o eliminación generalizada de las deudas sin restricciones. Es importante tener en cuenta que la legislación busca proteger los derechos de todas las partes involucradas y no busca permitir una evasión generalizada de las obligaciones financieras. Si tienes inquietudes específicas acerca de tus deudas y los procedimientos de quiebra en Chile, se recomienda buscar asesoramiento legal especializado para evaluar tu situación personal y determinar las opciones legales disponibles.",
        ],
    },
    {
        title: "¡Estamos contigo!",
        description:
            "Como abogados comprometidos con brindarles un servicio eficiente y accesible, nos complace informarles que hemos ampliado nuestros canales de comunicación",
        img: "./blog-2.webp",
        id: "modal8",
        descent: [
            "Como abogados comprometidos con brindarles un servicio eficiente y accesible, nos complace informarles que hemos ampliado nuestros canales de comunicación para adaptarnos a sus necesidades y facilitar el contacto con nuestro despacho legal. A partir de ahora, podrán contactarnos de manera rápida y sencilla a través de diversos canales a distancia, como WhatsApp e Instagram.",
            "Si desean contactarnos a través de WhatsApp, podrán enviarnos un mensaje al +56 2 24567150 y uno de nuestros representantes les responderá en menos de 24 hrs. Este canal es ideal para consultas rápidas, solicitar información general o agendar una cita.",
            "Por otro lado, también nos pueden encontrar en Instagram quiebralegal.cl , donde compartimos información relevante sobre temas legales, noticias jurídicas y consejos prácticos. Pueden seguirnos en nuestra cuenta oficial y utilizar la función de mensajes directos para establecer contacto con nosotros.",
            "Recuerden que seguimos disponibles a través de nuestros canales tradicionales, como el correo electrónico contacto@aprgrupoabogados.cl y las llamadas telefónicas al +56 2 24567150, para aquellos clientes que prefieran utilizarlos. Nuestro compromiso es estar a su disposición y brindarles asesoramiento legal de calidad.",
            "Agradecemos su confianza en nuestro despacho legal y esperamos poder seguir atendiéndolos de manera efectiva. No duden en contactarnos por cualquier consulta o requerimiento legal que puedan tener. Estamos aquí para ayudarles.",
            "Atentamente,",
            "Eduardo Andrés Álvarez Mora y Juan Rodolfo Pacheco Isla",
        ],
    },
    {
        title: "¿El Dinero ya no alcanza?",
        description:
            'Es un placer proporcionarte información sobre los requisitos para declararte en insolvencia en el país. La insolvencia, también conocida como "quiebra"',
        img: "./blog-3.webp",
        id: "modal9",
        descent: [
            'Como abogados especializados en leyes de quiebras en Chile, es un placer proporcionarte información sobre los requisitos para declararte en insolvencia en el país. La insolvencia, también conocida como "quiebra" o "procedimiento concursal", es un proceso legal mediante el cual una persona natural o una empresa busca reestructurar o liquidar sus deudas cuando se encuentra en una situación financiera insostenible. A continuación, te presentamos los requisitos básicos para iniciar un procedimiento de insolvencia en Chile:',
            "Insolvencia actual o inminente: Debes demostrar que te encuentras en una situación actual o inminente de insolvencia, es decir, que no puedes cumplir regularmente con tus obligaciones financieras. Esto implica la incapacidad de pagar tus deudas en el momento oportuno.",
            "Cantidad mínima de deudas: En Chile, se exige un monto mínimo de deudas para declararse en insolvencia. Para las personas naturales, el monto mínimo es de 80 Unidades de Fomento (UF) y para las empresas, el monto mínimo es de 2.000 UF. Estas cifras están sujetas a cambios según las regulaciones vigentes.",
            "Buena fe: Debes actuar de buena fe y no haber realizado conductas fraudulentas o dolosas relacionadas con tus deudas. Se espera que hayas intentado pagar tus deudas y negociar acuerdos de pago antes de acudir al procedimiento de insolvencia.",
            "Viabilidad del procedimiento: Debes demostrar que el procedimiento de insolvencia tiene posibilidades razonables de éxito. Es decir, debe ser factible que puedas reestructurar tus deudas o liquidar tus activos de manera ordenada para satisfacer a tus acreedores.",
            "No haber sido condenado por delitos financieros: No debes haber sido condenado por delitos relacionados con el ámbito financiero, como estafas, fraudes o delitos tributarios. La comisión de estos delitos puede afectar tu elegibilidad para acceder a los procedimientos de insolvencia.",
            "Es importante tener en cuenta que estos requisitos pueden variar y están sujetos a las regulaciones y modificaciones establecidas por la legislación chilena. Además, es recomendable contar con el asesoramiento de un abogado especializado en quiebras para garantizar el cumplimiento de los requisitos y el manejo adecuado de todo el proceso.",
            "Recuerda que esta información tiene fines orientativos y generales. Cada caso de insolvencia puede ser único, y es importante buscar asesoramiento legal personalizado para evaluar tu situación particular y determinar los pasos a seguir.",
            "Si necesitas más información o asesoramiento legal específico, no dudes en contactarmos para una consulta personalizada.",
            "Atentamente,",
            "Eduardo Andrés Álvarez Mora y Juan Rodolfo Pacheco Isla",
        ],
    },
];
---

<Section
    id="actualidad"
    title="Publicaciones de actualidad legal APR Grupo Abogados"
    description="Conozca las últimas publicaciones y noticias de interés preparadas por nuestro estudio jurídico."
>
    <div class="pt-8 md:w-12/12 m-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 lg:gap-16">
        {
            publicaciones.map((servicio) => (
                <PublicacionesItem
                    title={servicio.title}
                    description={servicio.description}
                    img={servicio.img}
                    id={servicio.id}
                />
            ))
        }
    </div>
</Section>

{
    publicaciones.map((servicio) => (
        <Modal2 id={servicio.id} title={servicio.title} description={servicio.descent} img="./quiebra.jpg">
            {servicio.descent}
        </Modal2>
    ))
}
